
04-Convolutional Neural Networks/week4/_373606549ba45c5ec46c3be4121fa2f8_C4W4L01-WhatIsFaceRecog.pptx
Programming Assignments/43 ResNets/ResNet50.h5
Programming Assignments/44 Car detection for Autonomous Driving/model_data/yolo.h5
Programming Assignments/46 Neural Style Transfer/pretrained-model/imagenet-vgg-verydeep-19.mat
